.container {
  position: relative;
  width: fit-content;
}

.shopingCart {
  width: 30px;
  cursor: pointer;
}

.counter {
  position: absolute;
  top: -5px;
  right: -8px;
  background: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
}

