.container {
  position: relative;
  width: fit-content;
}

.shopingCart {
  width: 27px;
  cursor: pointer;
}

.counter {
  position: absolute;
  top: -5px;
  right: -8px;
  background: #11d34b;
  color: white;
  font-size: 7px;
  border-radius: 50%;
  padding: 2px 6px;
}

